<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", { title: "File Uploader", styles: ["home.css"] }) %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <aside>
                <button type="button" class="main-button sidebar-button" aria-label="New folder">
                    <i class="bi bi-folder-plus"></i> <span>New folder</span>
                </button>
                <button type="button" class="main-button sidebar-button" aria-label="New file">
                    <i class="bi bi-file-earmark-plus"></i> <span>New file</span>
                </button>
                <button type="button" class="main-button sidebar-button" aria-label="Share">
                    <i class="bi bi-share"></i> <span>Share</span>
                </button>
                <button type="button" class="main-button sidebar-button" aria-label="Delete">
                    <i class="bi bi-trash"></i> <span>Delete</span>
                </button>
                <dialog <%- locals.newFolderError ? "open" : null %>>
                    <section class="form-container">
                        <h1>Create new folder</h1>
                        <form action="/folder/new-folder" method="post">
                            <div>
                                <label for="name">Name *</label>
                                <input type="text" id="name" name="name" autocomplete="off" pattern="^[\w\-~.]+$" title="Allowed characters (A-Z, a-z, 0-9, -, _, ~, .)" value="<%= locals.name %>" autofocus required>
                                <input type="hidden" name="path" value="<%= path %>">
                                <% if (locals.nameError) { %>
                                    <div class="error"><%= locals.nameError %></div>
                                <% } %>
                            </div>
                            <div class="button-container">
                                <button type="button" class="secondary-button">Cancel</button>
                                <button type="submit" class="main-button">Save</button>
                            </div>
                        </form>
                    </section>
                </dialog>
                <dialog <%- locals.newFileError ? "open" : null %>>
                    <section class="form-container">
                        <h1>Upload new file</h1>
                        <form action="/file/new-file" method="post" enctype="multipart/form-data">
                            <div>
                                <label for="file-name">Name *</label>
                                <input type="text" id="file-name" name="name" autocomplete="off" pattern="^[\w\-~.]+$" title="Allowed characters (A-Z, a-z, 0-9, -, _, ~, .)" autofocus required>
                            </div>
                            <div>
                                <label for="file">File *</label>
                                <input type="file" id="file" name="file" required>
                                <input type="hidden" name="path" value="<%= path %>">
                                <% if (locals.fileError) { %>
                                    <div class="error"><%= locals.fileError %></div>
                                <% } %>
                            </div>
                            <div class="button-container">
                                <button type="button" class="secondary-button">Cancel</button>
                                <button type="submit" class="main-button">Upload</button>
                            </div>
                        </form>
                    </section>
                </dialog>
            </aside>
            <div class="files-container">
                <ol class="breadcrumb">
                    <% let current = [] %>
                    <% for (let i = 0; i < breadcrumb.length; i++) { %>
                        <% current.push(breadcrumb[i]) %>
                        <li><a href="/<%= current.join("/") %>" class="link"><%= breadcrumb[i] %></a></li>
                    <% } %>
                </ol>
                <div class="files">
                    <div class="info">
                        <div>Name</div>
                        <div>Size</div>
                        <div>Date created</div>
                    </div>
                    <% if (files.length) { %>
                        <% for (let i = 0; i < files.length; i++) { %>
                            <a href="<%= files[i].path %>" class="file secondary-button">
                                <div class="name">
                                    <i class="<%= files[i].iconClassname %>" aria-hidden="true"></i>
                                    <span><%= files[i].name %></span>
                                </div>
                                <div class="size"><%= files[i].size ? files[i].size : "--"%></div>
                                <div class="date" data-date="<%= files[i].date %>"></div>
                            </a>
                        <% } %>
                    <% } else { %>
                        <p>This folder is empty</p>
                    <% } %>
                </div>
            </div>
        </main>
        <%- include("./partials/footer.ejs") %>
        <script src="/scripts/sidebar.js"></script>
        <script src="/scripts/timeZone.js"></script>
    </body>
</html>
