<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: "Log in - File Uploader", styles: ["form.css"] }) %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <section class="form-container">
                <h1>Log in</h1>
                <form action="/log-in" method="post">
                    <div>
                        <label for="username">Username *</label>
                        <input type="text" name="username" id="username" value="<%= locals.username %>" autocomplete="username" required>
                        <% if (locals.usernameError) { %>
                            <div class="error"><%= locals.usernameError %></div>
                        <% } %>
                    </div>
                    <div>
                        <label for="password">Password *</label>
                        <input type="password" name="password" id="password" autocomplete="current-password" required>
                        <% if (locals.passwordError) { %>
                            <div class="error"><%= locals.passwordError %></div>
                        <% } %>
                    </div>
                    <button type="submit" class="main-button">Log in</button>
                    <p>Don't have an account? <a href="/sign-up" class="link">Sign up</a></p>
                </form>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
